.Tool {
  position: relative;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  display: flex;
  align-items: center;

  border: 1px solid var(--element-border-color);
  background-color: var(--element-background-color);
}

.Tool .Title {
  margin-right: 1rem;
}
