.WhiteBoard {
  display: block;
  margin: auto;
  outline: none;
}

.ToolBar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  gap: 2px;
}

.DefaultStrokeColorOption {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--element-border-color);
  background-color: var(--color);
}

.DefaultStrokeColorOption.selected {
  border: 2px solid var(--element-border-color);
}

/* .DefaultStrokeColorOption.selected::before {
  content: "\2714";
  top: 50%;
  left: 50%;
  tran
} */
