* {
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--element-accent-color);
  background-color: var(--canvas-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --canvas-background-color: #242424;
    --element-accent-color: #f9f9f9;
    --element-border-color: #585858;
    --element-background-color: #1a1a1a;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --canvas-background-color: #ffffff;
    --element-accent-color: #242424;
    --element-border-color: #bebebe;
    --element-background-color: #f9f9f9;
  }
  a:hover {
    color: #747bff;
  }
}
